.DevBox{
  width: 239px;
  height: 170px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1), inset 0px 0px 18px #BAAEAE;
  border-radius: 121.5px 20px 121px 121.5px;
  border:1px solid #BAAEAE;
  background-color: #f2e6ff;
  padding-top: 30px;
  padding-left: 50px
}

.Icon{
  position: relative;
  left: 130px;
  top:-20px;
  height: 30px;
  width: 30px;
}
